@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif, Arial, Helvetica;
}

h2 {
  font-size: 34px;
}

/*------------CABEÇALHO------------*/
/* Barra cinza contendo todos os elementos */
header {
  border: 3px solid palegoldenrod;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #434343;
  height: 90px;
}

/* Container pai da imagem (esquerda) */
.logo {
  border: 3px solid chartreuse;

  height: 100%;
  width: auto;
}

/* Imagem */
.logo img {
  border: 3px solid blue;

  width: 100%;
  height: 100%;
  padding: 5px;
}

/* Container pai de todos os elmenetos (direita) */
.nav-bar {
  border: 3px solid gold;

  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

/* Container da lista não ordenada */
.nav-bar  ul {
  border: 3px solid green;

  display: flex;
  width: 100%;
}

/* Cada 'li' da lista não ordenada */
.nav-bar ul li {
  border: 3px solid brown;
  
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Todos os 'a' da lista não ordenada (todos os links) */
.nav-bar ul li a {
  border: 3px solid palevioletred;
  text-decoration: none;
  color: #fff;
}

/*------------MAIN------------*/
/* Conteúdo principal contendo todas as informações da página */
main {
  height: 100%;
}

/* Sessão do início, área toda que o background-image cobre */
.home {
  height: 100vh;
  background-image: url('images/others/home-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(5, auto);

}

/* Container pai dos textos (h1 e p) e filho do .home */
.home .home-description {
  grid-row: 2 / 5;
  grid-column: 2 /10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Título principal h1 (AutoShine Services Estética automotiva) */
.home .home-description h1 {
  color: #fff;
  font-size: 5em;
}

/* Parágrafo abaixo do título h1 */
.home .home-description p {
  color: white;
  font-size: 2em;
}

/* Container div pai do botão ESQUERDO */
.btn-left {
  grid-row: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

/* Container div pai do botão DIREITO */
.btn-right {
  grid-row: 3;
  grid-column: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

/* Propriedade que personaliza os dois botões filhos das divs ao mesmo tempo */
.btn button {
  width: 4em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 50%;
}

/* Imagem dentro do botão (setas direita e esquerda) */
.btn img {
  width: 30%;
  height: auto;
}

/*------------SOBRE NÓS------------*/
/* Sessão que aborda tudo sobre a empresa */

/* Container pai principal da sessão "sobre nós" */
.about-us article {
  height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

/* Container do título h2 */
.about-us .first-block {
  text-align: center;
  margin-top: 1rem;
}

/* Container pai dos textos e da imagem */
.about-us .second-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 12%;
  height: 100%;
}

/* Descrição (texto) */
.about-us .description {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* todos os parágrafos dentro do container da .description */
.about-us .description p {
  width: 70%;
  display: flex;
  align-items: center;
  flex-shrink: 2;
  font-size: 1.2rem;
}

/* Imagem */
.about-us img {
  width: auto;
  height: 500px;
}

/* Container pai de saiba mais */
.about-us .learn-more {
  margin-bottom: 15px;
}

/* link como texto em saiba mais */
.about-us .learn-more a {
  font-size: 15px;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* hover em saiba mais */
.about-us .learn-more:hover {
  cursor: pointer;
}

/* Setinha para baixo logo abaixo da palavra "Saiba mais" */
.about-us .learn-more img {
  width: 20px;
  height: auto;
}

/*------------SERVIÇOS------------*/
/* Container maior e geral da seção "serviços" */
.services-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background-color: black;
  padding-bottom: 20px;
}

/* O heading dentro da seção de serviços */
.services-section h2 {
  padding: 2rem 0;
  text-align: center;
  color: #fff;
}

/* Container contendo todos os serviços para agendamento */
.services-section .container {
  width: 100%;
  gap: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #000;
  padding: 20px;
}

/* Bloco pai que armazena cada serviço */
.services-section .container .services {
  background-color: #f2f2f2;
  width: 22rem;
  border-radius: 50px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

/* Título dentro do bloco pai branco */
.services-section .services h3 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
}

/* Imagens dentro do bloco branco de serviços */
.services-section .services img {
  width: 80%;
  height: 200px;
}

/* Descrição do serviço */
.services-section .services p {
  width: 80%;
  height: 100px;
}

/* Botão do serviço */
.services-section .services button {
  width: 80%;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: #1e3a8a;
  color: white;
  font-size: 20px;
}

/* Hover do botão */
.services-section .services button:hover {
  cursor: pointer;
  background-color: #182e6a;
}

/*------------GALERIA------------*/
/* Heading da galeria */
.gallery-section .gallery-heading {
  text-align: center;
  padding: 30px 0 5px 0;
}

/* Container pai, container maior incluindo todas as imagens */
.gallery-section .gallery {
  width: 100%;
  gap: 15px;
  padding: 40px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-template-rows: repeat(7, 100px);
}

/* Abaixo serão especificados sobre cada serviço */
.gallery-section .service1 {
  background-image: url('images/gallery/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1;
  grid-row: 1 / 3;
}

.gallery-section .service2 {
  background-image: url('images/gallery/2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.gallery-section .service3 {
  background-image: url('images/gallery/3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 4 / 6;
  grid-row: 1 / 3;
}

.gallery-section .service4 {
  background-image: url('images/gallery/4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1;
  grid-row: 3;
}

.gallery-section .service5 {
  background-image: url('images/gallery/5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 2 / 4;
  grid-row: 3 / 5;
}

.gallery-section .service6 {
  background-image: url('images/gallery/6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 4 / 6;
  grid-row: 3 / 5;
}

.gallery-section .service7 {
  background-image: url('images/gallery/7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1 / 3;
  grid-row: 5 / 8;
}

.gallery-section .service8 {
  background-image: url('images/gallery/8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-section .service9 {
  background-image: url('images/gallery/9.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery-section .service10 {
  background-image: url('images/gallery/10.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery-section .service11 {
  background-image: url('images/gallery/11.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-section .service12 {
  background-image: url('images/gallery/12.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 4 / 6;
  grid-row: 6 / 8;
}

.gallery-section .service13 {
  background-image: url('images/gallery/13.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 3;
  grid-row: 6 / 8;
}

/*------------FOOTER------------*/
/* Container pai, container maior */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #000;
  padding-top: 3rem;
}

/* Personalizando lista, linnk, heading e parágrafo */
.footer li, .footer a, .footer h2, .footer ul, .footer p {
  color: #fff;
}

/* Personalizando todas as Headings do footer */
.footer h2 {
  font-size: 17px;
  font-weight: 900;
}

/* Personalizando todas os li da ul do footer */
.footer li {
  list-style: none;
}

/* Personalizando todos os links do footer */
.footer li a {
  text-decoration: none;
}

/* Dentro do footer, são contidos dois blocos, um para o contato, redes sociais, links e serviços */
/* O outro é para o copyright */

/* Primeiro bloco dentro do container pai, que é o footer */
.flex-container {
  display: flex;
  justify-content: space-around;
  height: 30em;
}

/* Segundo bloco dentro do container pai */
.alone {
  text-align: center;
}

/* Este é o primeiro bloco dentro do primeiro bloco */
/* No caso será o bloco pai que envolve o contato e as redes sociais */
.footer .first-block {
  display: flex;
  flex-direction: column;
}

/* Bloco filho do de cima, porém este é só do contato */
.footer .first-block .contact {
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Bloco também filho, porém é o de redes sociais */
.footer .first-block .social-media {
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Container pai das imagens (é um container filho do .social-media) */
.footer .first-block .social-media .image {
  display: flex;
  gap: 10px;
}

/* Personalizando as redes sociais (no caso o instagram e o facebook) */
.footer .social-media img {
  width: 30px;
  height: auto;
}

/* Segundo bloco, personalizando os links úteis */
.footer .second-block {
  width: 20em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Personalizando as headings dentro dos links */
.footer .second-block h2 {
  position: relative;
  left: 30%;
}

/* listas dentro dos links úteis */
.footer .second-block ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  left: 30%;
}

/* Terceiro bloco, o de serviços */
.footer .third-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Listas do terceiro bloco */
.footer .third-block ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.alone .copyright p {
  display: block;
  padding: 5px 0;
  border-top: 1px solid white;
}

/* Quando no mínimo tiver 1400 pixels */
@media (min-width: 1300px) {

  /* Container pai principal da sessão "sobre nós" */
  .about-us article {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
  }
  
  /* Container do título h2 */
  .about-us .first-block {
    text-align: center;
    margin-top: 1rem;
  }
  
  /* Container pai dos textos e da imagem */
  .about-us .second-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
  }
  
  /* Descrição (texto) */
  .about-us .description {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  /* todos os parágrafos dentro do container da .description */
  .about-us .description p {
    width: 70%;
    display: flex;
    align-items: center;
    flex-shrink: 2;
    font-size: 1.3rem;
  }
  
  /* Imagem */
  .about-us img {
    width: auto;
    height: 30rem;
  }
  
  /* Container pai de saiba mais */
  .about-us .learn-more {
    margin-bottom: 15px;
  }
  
  /* link como texto em saiba mais */
  .about-us .learn-more a {
    font-size: 15px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* hover em saiba mais */
  .about-us .learn-more:hover {
    cursor: pointer;
  }
  
  /* Setinha para baixo logo abaixo da palavra "Saiba mais" */
  .about-us .learn-more img {
    width: 20px;
    height: auto;
  }
}

@media (max-width: 1299px) {
  /* Container pai principal da sessão "sobre nós" */
  .about-us article {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
  }
  
  /* Container do título h2 */
  .about-us .first-block {
    text-align: center;
    margin-top: 1rem;
  }
  
  /* Container pai dos textos e da imagem */
  .about-us .second-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
  }
  
  /* Descrição (texto) */
  .about-us .description {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  /* todos os parágrafos dentro do container da .description */
  .about-us .description p {
    width: 90%;
    display: flex;
    align-items: center;
    flex-shrink: 2;
    font-size: 1.3rem;
  }
  
  /* Imagem */
  .about-us img {
    width: auto;
    height: 30rem;
  }
  
  /* Container pai de saiba mais */
  .about-us .learn-more {
    margin-bottom: 15px;
  }
  
  /* link como texto em saiba mais */
  .about-us .learn-more a {
    font-size: 15px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* hover em saiba mais */
  .about-us .learn-more:hover {
    cursor: pointer;
  }
  
  /* Setinha para baixo logo abaixo da palavra "Saiba mais" */
  .about-us .learn-more img {
    width: 20px;
    height: auto;
  }
}

@media (min-width: 990px) and (max-width: 1191px) {
  .services-section .container {
    width: 80%;
    gap: 3em;
  }

  .services-section .container .services {
    flex-grow: 1;
  }
}

@media (max-width: 1055px) {
  /* Container pai principal da sessão "sobre nós" */
  .about-us article {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
  }
  
  /* Container do título h2 */
  .about-us .first-block {
    text-align: center;
    margin-top: 1rem;
  }
  
  /* Container pai dos textos e da imagem */
  .about-us .second-block {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  /* Descrição (texto) */
  .about-us .description {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  /* todos os parágrafos dentro do container da .description */
  .about-us .description p {  
    width: 90%;
    display: flex;
    align-items: center;
    flex-shrink: 2;
    font-size: 1.3rem;
  }
  
  /* Imagem */
  .about-us img {  
    width: 31.5rem;
    height: auto;
  }
  
  /* Container pai de saiba mais */
  .about-us .learn-more {  
    margin-bottom: 15px;
  }
  
  /* link como texto em saiba mais */
  .about-us .learn-more a {  
    font-size: 15px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* hover em saiba mais */
  .about-us .learn-more:hover {
    cursor: pointer;
  }
  
  /* Setinha para baixo logo abaixo da palavra "Saiba mais" */
  .about-us .learn-more img {
    width: 20px;
    height: auto;
  }
}

@media (max-width: 791px) {
  .services-section .container {
    width: 100%;
    gap: 1.5em;
  }

  .services-section .container .services {
    flex-grow: 0;
    flex-shrink: 2;
  }
}






/* -------- PÁGINA 2 - SOBRE NÓS -------- */

