@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif, Arial, Helvetica;
}

h2 {
  font-size: 34px;
}

/*------------CABEÇALHO------------*/
/* Barra cinza contendo todos os elementos */
header {
  border: 3px solid orange;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #434343;
  height: 90px;
}

/* Container pai da imagem (esquerda) */
.logo {
  border: 3px solid green;

  height: 100%;
  width: auto;
}

/* Imagem */
.logo img {
  border: 2px solid cyan;

  width: 100%;
  height: 100%;
  padding: 5px;
}

/* Container pai de todos os elmenetos (direita) */
.nav-bar {
  border: 3px solid black;

  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container da lista não ordenada */
.nav-bar  ul {
  border: 2px solid white;

  display: flex;
  width: 100%;
}

/* Cada 'li' da lista não ordenada */
.nav-bar ul li {
  border: 3px solid green;
  
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Todos os 'a' da lista não ordenada (todos os links) */
.nav-bar ul li a {
  border: 2px solid cyan;

  text-decoration: none;
  color: #fff;
}

/*------------MAIN------------*/
/* Conteúdo principal contendo todas as informações da página */
main {
  border: 3px solid yellow;

  height: 100%;
}

/* Sessão do início, área toda que o background-image cobre */
.home {
  border: 4px solid purple;

  height: 100vh;
  background-image: url('images/home-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(5, auto);

}

/* Container pai dos textos (h1 e p) e filho do .home */
.home .home-description {
  border: 3px solid blue;

  grid-row: 2 / 5;
  grid-column: 2 /10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Título principal h1 (AutoShine Services Estética automotiva) */
.home .home-description h1 {
  border: 2px solid white;

  color: #fff;
  font-size: 5em;
}

/* Parágrafo abaixo do título h1 */
.home .home-description p {
  border: 2px solid orange;

  color: white;
  font-size: 2em;
}

/* Propriedade que personaliza ambos os containers dos botões */
/* Irrelevante para o código, pode deletar quando não precisar mais */
.btn {
  border: 1px solid white
}

/* Container div pai do botão ESQUERDO */
.btn-left {
  grid-row: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

/* Container div pai do botão DIREITO */
.btn-right {
  grid-row: 3;
  grid-column: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

/* Propriedade que personaliza os dois botões filhos das divs ao mesmo tempo */
.btn button {
  width: 4em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 50%;
}

/* Imagem dentro do botão (setas direita e esquerda) */
.btn img {
  width: 30%;
  height: auto;
}

/*------------SOBRE------------*/
/* Sessão que aborda tudo sobre a empresa */
.about-us {
  border: 4px solid blue;

  height: 100%;
}

/* Container pai principal da sessão "sobre nós" */
.about-us article {
  border: 5px solid red;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
}

/* Container do título h2 */
.about-us .first-block {
  border: 5px solid cyan;

  text-align: center;
}

/* Container pai dos textos e da imagem */
.about-us .second-block {
  border: 5px solid orange;

  width: 80%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Descrição (texto) */
.about-us .description {
  border: 3px solid black;

  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* todos os parágrafos dentro do container da .description */
.about-us .description p {
  border: 1px solid purple;
  width: 90%;
  height: 100%;
  font-size: 17.5px;
  display: flex;
  align-items: center;
}

/* Container div pai da imagem */
.about-us .image {
  border: 5px solid grey;
  height: 100%;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 2;
}

/* Imagem */
.about-us .image img {
  border: 2px solid blue;

  width: 80%;
  height: auto;
}

/* Container pai de saiba mais */
.about-us .learn-more {
  border: 3px solid brown;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* texto saiba mais */
.about-us .learn-more p {
  font-size: 15px;
}

/* hover em saiba mais */
.about-us .learn-more:hover {
  cursor: pointer;
}

/* Setinha para baixo logo abaixo da palavra "Saiba mais" */
.about-us .learn-more img {
  width: 20px;
  height: auto;
}

/*------------SERVIÇOS------------*/
/* Container maior e geral da seção "serviços" */
.services-section {
  border: 5px solid brown;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

/* O heading dentro da seção de serviços */
.services-section h2 {
  border: 5px solid khaki;
  text-align: center;
  color: #fff;
}

/* Container contendo todos os serviços para agendamento */
.services-section .container {
  border: 5px solid aqua;

  width: 100%;
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(3, 25em);
  justify-content: center;
  background-color: #000;
  padding: 30px 0;
}

/* Bloco pai que armazena cada serviço */
.services-section .services {
  background-color: #f2f2f2;
  border-radius: 50px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

/* Título dentro do bloco pai branco */
.services-section .services h3 {
  border: 2px solid yellowgreen;
  
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
}

/* Imagens dentro do bloco branco de serviços */
.services-section .services img {
  width: 80%;
  height: 200px;
}

/* Descrição do serviço */
.services-section .services p {
  border: 3px solid red;

  width: 80%;
  height: 100px;
}

/* Botão do serviço */
.services-section .services button {
  width: 80%;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: #1e3a8a;
  color: white;
  font-size: 20px;
}

/* Hover do botão */
.services-section .services button:hover {
  cursor: pointer;
  background-color: #182e6a;
}

/*------------GALERIA------------*/
.gallery-section {
  border: 4px solid blue;
}

/* Heading da galeria */
.gallery-section .gallery-heading {
  border: 3px solid red;
  text-align: center;
  padding: 30px 0 5px 0;
}

/* Container pai, container maior incluindo todas as imagens */
.gallery-section .gallery {
  border: 3px solid orchid;
  width: 100%;
  gap: 15px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-template-rows: repeat(7, 100px);
}

/* Abaixo serão especificados sobre cada serviço */
.gallery-section .service1 {
  background-image: url('images/gallery/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1;
  grid-row: 1 / 3;
}

.gallery-section .service2 {
  background-image: url('images/gallery/2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.gallery-section .service3 {
  background-image: url('images/gallery/3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 4 / 6;
  grid-row: 1 / 3;
}

.gallery-section .service4 {
  background-image: url('images/gallery/4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1;
  grid-row: 3;
}

.gallery-section .service5 {
  background-image: url('images/gallery/5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 2 / 4;
  grid-row: 3 / 5;
}

.gallery-section .service6 {
  background-image: url('images/gallery/6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 4 / 6;
  grid-row: 3 / 5;
}

.gallery-section .service7 {
  background-image: url('images/gallery/7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1 / 3;
  grid-row: 5 / 8;
}

.gallery-section .service8 {
  background-image: url('images/gallery/8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-section .service9 {
  background-image: url('images/gallery/9.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery-section .service10 {
  background-image: url('images/gallery/10.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery-section .service11 {
  background-image: url('images/gallery/11.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-section .service12 {
  background-image: url('images/gallery/12.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 4 / 6;
  grid-row: 6 / 8;
}

.gallery-section .service13 {
  background-image: url('images/gallery/13.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 3;
  grid-row: 6 / 8;
}

/*------------FOOTER------------*/
/* Container pai, container maior */
.footer {
  border: 3px solid brown;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

/* Personalizando lista, linnk, heading e parágrafo */
.footer li, .footer a, .footer h2, .footer ul, .footer p {
  color: #fff;
}

/* Personalizando todas as Headings do footer */
.footer h2 {
  font-size: 17px;
  font-weight: 900;
}

/* Personalizando todas os li da ul do footer */
.footer li {
  list-style: none;
}

/* Personalizando todos os links do footer */
.footer li a {
  text-decoration: none;
}

/* Dentro do footer, são contidos dois blocos, um para o contato, redes sociais, links e serviços */
/* O outro é para o copyright */

/* Primeiro bloco dentro do container pai, que é o footer */
.flex-container {
  border: 3px solid indigo;
  display: flex;
  justify-content: space-around;
  height: 30em;
}

/* Segundo bloco dentro do container pai */
.alone {
  border: 3px solid turquoise;
  text-align: center;
}

/* Este é o primeiro bloco dentro do primeiro bloco */
/* No caso será o bloco pai que envolve o contato e as redes sociais */
.footer .first-block {
  border: 3px solid green;
  display: flex;
  flex-direction: column;
}

/* Bloco filho do de cima, porém este é só do contato */
.footer .first-block .contact {
  border: 3px solid skyblue;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Bloco também filho, porém é o de redes sociais */
.footer .first-block .social-media {
  border: 3px solid wheat;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Container pai das imagens (é um container filho do .social-media) */
.footer .first-block .social-media .image {
  display: flex;
  gap: 10px;
}

/* Personalizando as redes sociais (no caso o instagram e o facebook) */
.footer .social-media img {
  width: 30px;
  height: auto;
}

/* Segundo bloco, personalizando os links úteis */
.footer .second-block {
  border: 3px solid tomato;
  width: 20em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Personalizando as headings dentro dos links */
.footer .second-block h2 {
  position: relative;
  left: 30%;
}

/* listas dentro dos links úteis */
.footer .second-block ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  left: 30%;
}

/* Terceiro bloco, o de serviços */
.footer .third-block {
  border: 3px solid orchid;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Listas do terceiro bloco */
.footer .third-block ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}



