@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif, Arial, Helvetica;
}

h2 {
  font-size: 34px;
}

/*------------CABEÇALHO------------*/
/* Barra cinza contendo todos os elementos */
header {
  border: 3px solid orange;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #434343;
  height: 70px;
}

/* Container pai da imagem (esquerda) */
.logo {
  border: 3px solid green;

  height: 100%;
  width: auto;
}

/* Imagem */
.logo img {
  border: 2px solid cyan;

  width: 100%;
  height: 100%;
  padding: 10px;
}

/* Container pai de todos os elmenetos (direita) */
.nav-bar {
  border: 3px solid black;

  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container da lista não ordenada */
.nav-bar  ul {
  border: 2px solid white;

  display: flex;
  width: 100%;
}

/* Cada 'li' da lista não ordenada */
.nav-bar ul li {
  border: 3px solid green;
  
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Todos os 'a' da lista não ordenada (todos os links) */
.nav-bar ul li a {
  border: 2px solid cyan;

  text-decoration: none;
  color: #fff;
}

/*------------MAIN------------*/
/* Conteúdo principal contendo todas as informações da página */
main {
  border: 3px solid yellow;

  height: 100%;
}

/* Sessão do início, área toda que o background-image cobre */
.home {
  border: 4px solid purple;

  height: 100vh;
  background-image: url('images/home-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(5, auto);

}

/* Container pai dos textos (h1 e p) e filho do .home */
.home .home-description {
  border: 3px solid blue;

  grid-row: 2 / 5;
  grid-column: 2 /10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Título principal h1 (AutoShine Services Estética automotiva) */
.home .home-description h1 {
  border: 2px solid white;

  color: #fff;
  font-size: 50px;
}

/* Parágrafo abaixo do título h1 */
.home .home-description p {
  border: 2px solid orange;

  color: white;
}

/* Propriedade que personaliza ambos os containers dos botões */
/* Irrelevante para o código, pode deletar quando não precisar mais */
.btn {
  border: 1px solid white
}

/* Container div pai do botão ESQUERDO */
.btn-left {
  grid-row: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

/* Container div pai do botão DIREITO */
.btn-right {
  grid-row: 3;
  grid-column: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

/* Propriedade que personaliza os dois botões filhos das divs ao mesmo tempo */
.btn button {
  width: 4em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 50%;
}

/* Imagem dentro do botão (setas direita e esquerda) */
.btn img {
  width: 30%;
  height: auto;
}

/*------------SOBRE------------*/
/* Sessão que aborda tudo sobre a empresa */
.about-us {
  border: 4px solid blue;

  height: 100%;
}

/* Container pai principal da sessão "sobre nós" */
.about-us article {
  border: 5px solid red;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
}

/* Container do título h2 */
.about-us .first-block {
  border: 5px solid cyan;

  text-align: center;
}

/* Container pai dos textos e da imagem */
.about-us .second-block {
  border: 5px solid orange;

  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Descrição (texto) */
.about-us .description {
  border: 3px solid black;

  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  gap: 30px;
}

/* todos os parágrafos dentro do container da .description */
.about-us .description p {
  border: 1px solid purple;

}

/* Container div pai da imagem */
.about-us .image {
  border: 5px solid grey;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagem */
.about-us .image img {
  border: 2px solid blue;
}

/* Container pai de saiba mais */
.about-us .learn-more {
  border: 3px solid brown;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* texto saiba mais */
.about-us .learn-more p {
  font-size: 15px;
}

/* hover em saiba mais */
.about-us .learn-more:hover {
  cursor: pointer;
}

/* Setinha para baixo logo abaixo da palavra "Saiba mais" */
.about-us .learn-more img {
  width: 20px;
  height: auto;
}
